*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: blueviolet;
}
.header h1{
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}
.input-container{
    height: 50px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 0 16px 0 rgba(137, 43, 226, 0.116);
    border-radius: 50px;
    padding: 0px 25px 0px 0px;
}
.input-container input{
    width: 350px;
    height: 50px;
    border: none;
    padding: 0px 25px;
    outline: none;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    border-radius: 50px;
}
.input-container i{
    color: blueviolet;
}
.offers{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
}
.slider-container{
    width: 1395px;
    height: 385px;
    overflow: hidden;
    position: relative;
}
.slider{
    width: fit-content;
    display: grid;
    grid-gap: 15px;
    height: 355px;
    transition: transform 0.5s;
}
button{
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(137, 43, 226, 0.315);
    border-radius: 50px;
    border: none;
    color: blueviolet;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 40%;
    transition: all 0.2s;
}
button:hover{
    transform: scale(1.10);
}
.btn-previous{
    left: -25px;
}
.btn-next{
    right: -25px;
}
.offer{
    background-color: white;
    border-radius: 5px;
    height: 355px;
    width: 220px;
    transition: height 0.2s linear;
    overflow: hidden;
    cursor: pointer;
}
.offer-img{
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.offer img{
    max-width: 224px;
    max-height: 224px;
}
.offer-info h2{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}
.offer-info p{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.offer-info{
    padding: 15px;
}
.offer .category{
    padding: 4px 10px;
    background: linear-gradient(to right, #0099ff, #001aff);
    border-radius: 2px;
    width: auto;
    color: white;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.offer .produtoCategoria i {
    margin-right: 5px;
    font-size: 0.9rem;
}
.circles{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
    margin: 0px 4px;
}
.circle.selected{
    background-color: blue;
    transition: transform 0.2s;
    transform: scale(1.10);
}